@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
  min-height: 100vh;
  background: #012a4a;
  color: #ffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a {
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.headerNav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
  cursor: pointer;
  width: 3%;
  height: 3%;
  margin-right: auto;
}

.navLinks{
  list-style: none;
}

.navLinks li{
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  background-color: none;
  color: #edf0f1;
}

.navLinks li a:hover{
  color: #0088a9;
}